<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>autent</servlet-name>
        <servlet-class>servlet.autent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inscrire</servlet-name>
        <servlet-class>servlet.inscrire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inscription</servlet-name>
        <servlet-class>servlet.inscrire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supprimer</servlet-name>
        <servlet-class>servlet.supprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifier</servlet-name>
        <servlet-class>servlet.modifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verif_login</servlet-name>
        <servlet-class>servlet.verif_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>affichage</servlet-name>
        <servlet-class>servlet.affichage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recherche</servlet-name>
        <servlet-class>servlet.recherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modification</servlet-name>
        <servlet-class>modification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aa</servlet-name>
        <servlet-class>servlet.aa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifi</servlet-name>
        <servlet-class>servlet.modifi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>servlet.Hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ee</servlet-name>
        <servlet-class>servlet.ee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload1</servlet-name>
        <servlet-class>servlet.Upload1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajoutercours</servlet-name>
        <servlet-class>servlet.ajoutercours</servlet-class>
        <init-param>
            <param-name>chemin</param-name>
            <param-value>C:\Users\Balti\Desktop\app\app\web\</param-value>
        </init-param>
        <multipart-config>
            <location>C:\Users\Balti\Desktop\app\app\web</location>
            <max-file-size>10485760</max-file-size>
            <!-- 10 Mo -->
            <max-request-size>52428800</max-request-size>
            <!-- 5 x 10 Mo -->
            <file-size-threshold>1048576</file-size-threshold>
            <!-- 1 Mo -->
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>autent</servlet-name>
        <url-pattern>/autent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inscrire</servlet-name>
        <url-pattern>/inscrire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supprimer</servlet-name>
        <url-pattern>/supprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifier</servlet-name>
        <url-pattern>/modifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verif_login</servlet-name>
        <url-pattern>/verif_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>affichage</servlet-name>
        <url-pattern>/affichage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recherche</servlet-name>
        <url-pattern>/recherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modification</servlet-name>
        <url-pattern>/modification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aa</servlet-name>
        <url-pattern>/aa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifi</servlet-name>
        <url-pattern>/modifi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ee</servlet-name>
        <url-pattern>/ee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload1</servlet-name>
        <url-pattern>/Upload1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajoutercours</servlet-name>
        <url-pattern>/ajoutercours</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
